body{
    font-family: "Roboto";
    color: black;
}

header{
    background-color: black;
    color: white;
    padding:5px;
    font-size: 1.4em;
    text-align: center;
}

nav{
    text-decoration: none;
    background-color: palegreen;
}

nav ul{
    list-style: none;
    margin: 0 auto;
    text-align: center;
}

nav ul li{
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.4em;
    
}

li a{
    text-decoration: none;
    color: darkgreen;
}

section{
    text-align: center;
    background-color: palegoldenrod;
}

section h1, h2{
    text-align: center;    
}

section p{
    max-width:700px;
    line-height: 2.5em;
}

h2 a{
    color: darkgreen;
    text-decoration: none;
}

footer{
    background-color: black;
    color: lightgreen;
    padding: 20px;
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
}
